.navbar-div{
  padding : 5% 5%;
  padding-bottom: 0px;
  
  background-color: rgba(0, 0, 0, 0.415);
}
.navbar{
  border-radius: 40px;
  box-shadow: 0px 5px 5px rgb(170, 163, 163) inset;
}
.navbar .navbar-nav .nav-link {
  font-weight: bolder;
}
.navbar-nav li a:hover{
  color:rgb(56, 197, 91);
  font-size: 1.4rem;
}

#navbarNavDropdown{
  justify-content: center;

}
.collapsed,.navbar-toggler,.nav-text{
  margin-left: auto ;
  margin-right: auto;
}

.container-main{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  background-image: url("public/images/bg1.jpg");
  background-size: cover;
  
  
}

.container-1{
    text-align: center;
    padding: 5%;
    
  background-color: rgba(0, 0, 0, 0.415);
}
.container-text-1{
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    color:rgb(255, 255, 255);
}
.container-text-2{
    font-size: 5.4rem;
    font-family: 'Black Ops One', cursive;
    color:rgb(255, 255, 255);
}
hr.first{
  width:300px;
  border-top: 1.3rem #523108;
  border-style: dotted;
  margin-left: auto;
  margin-right: auto;
}
/*div 2*/

.container-main-1{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;

  gap: 100px;
  margin:5%;
  padding:3%;
  border-radius:20px;
  border-style: solid;
  border-color: #65451F;
  box-shadow:20px 25px #65451F ;
}
.container-main-1:hover{
  animation-name:container-main-1;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
}

.c-t-2{
  text-align: center;
}
.cm-1-c-h{
  color: #65451F;
  text-shadow: 2px 2px #5d656e ;
  font-family: 'Black Ops One', cursive;
}
.cm-1-c-1{
  color: #ffffff;
  width: 700px;
  font-family: 'Rajdhani', sans-serif;
  text-align: justify;

}
.img-div-c-2{
  height:400px;
  border-radius:20px;
  margin-top:auto;
  margin-bottom:auto;
}

.img-cm-1{
  height:400px;
  width: 450px;
  animation-name:img-cm-1;
  border-radius:20px;
  border-style: solid;
  border-color: #65451F;
  box-shadow:20px 20px #65451F ;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;

}

@keyframes img-cm-1 {
  0%{
    box-shadow:20px 20px #65451F ;
  }25%{
    box-shadow:-20px 20px #65451F ;
  }
  50%{
    box-shadow:-20px -20px #65451F ;
  }75%{
    box-shadow:20px -20px #65451F ;
  }
  100%{
    box-shadow:20px 20px #65451F ;
  }
  
}
.about-us-text{
  font-family: 'Stint Ultra Condensed', serif;
  color: #65451F;
  font-size: 1.8rem;
}
.second{
  border: 0.1rem #65451F;
  border-style: solid;
}

/* div 3 */

