<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="public/images/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="public/images/candlestick.png">
    <link rel="stylesheet" href="user.html">
    <link rel="stylesheet" href="guideweb.html">
    <title>FinanceCraft</title>
</head>
<body class="page-guide">
    
        
    
       
        
    <marquee class="marquee-1" direction="left" behavior="Lobster" onmouseover="this.stop()" onmouseout="this.start()">

        <div class="marquee-container-1">
            
            <div>
                <a class="button-c-2" href="https://www.google.com/finance/quote/ADANIPORTS:NSE">
                    <span class="span-1">ADANIPORTS</span>
                    <span class="span-2">₹837.75
                        
                        ▲7.05 
                    </span>

                </a>
                
            </div>

            <div>    
                
                <a class="button-c-2" href="https://www.google.com/finance/quote/BAJAJFINSV:NSE">
                    <span class="span-1">  BAJAJFINSV</span>
                    <span class="span-3">
                        ₹1,555.85
                        
                        ▼9.90 
                        
                    </span>

                </a>
                
            </div>
            <div>   
                <a class="button-c-2" href="https://www.google.com/finance/quote/ADANIPORTS:NSE">
                    <span class="span-1">HDFCBANK</span>
                    <span class="span-2">$58.44
                        
                        ▲0.25
                    </span>

                </a>
                
            </div> 
            <div>     
                <a class="button-c-2" href="https://www.google.com/finance/quote/ADANIPORTS:NSE">
                    <span class="span-1">AMERICANEXPRESS</span>
                    <span class="span-3">$149.90
                        
                        ▼1.19
                    </span>

                </a>
                
            </div>
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/ADANIPORTS:NSE">
                    <span class="span-1">AVENUESUPERMARKET(DMART)</span>
                    <span class="span-2">₹3,667.00
                        
                        ▲26.30
                    </span>

                </a>
            </div> 
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/TATASTEEL:NSE">
                    <span class="span-1">Tata Steel Ltd</span>
                    <span class="span-3">
                        ₹127.25
                        
                        ▼0.90   
                        
                    </span>

                </a>
            </div>
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/YESBANK:NSE">
                    <span class="span-1">Yes Bank Limited</span>
                    <span class="span-3">₹17.30
                        
                        ▼0.050
                    </span>

                </a>
            </div>
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/RPOWER:NSE">
                    <span class="span-1">Reliance Power Ltd
                    </span>
                    <span class="span-3">₹19.15
                        
                        ▼0.050
                    </span>

                </a>
            </div>
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/SUNPHARMA:NSE">
                    <span class="span-1">Sun Pharmaceutical Industries Ltd
                    </span>
                    <span class="span-3">
                        ₹1,135.85
                        
                        ▼4.10 
                    </span>

                </a>
            </div>
            <div>  
                <a class="button-c-2" href="https://www.google.com/finance/quote/MARUTI:NSE">
                    <span class="span-1">Maruti Suzuki India Ltd
                    </span>
                    <span class="span-3">
                        ₹10,575.00
                        
                        ▼105.75 
                    </span>

                </a>
            </div> 
            
        </div>
    </marquee>
    
    <div class="sp-container">
        
        <div class="sp-content">

            
            <div class="sp-globe"></div>
            <h2 class="frame-1">Learn</h2>
            <h2 class="frame-2">Predict</h2>
            <h2 class="frame-3">Analyse</h2>
            <h2 class="frame-4">TEST IT!</h2>
            <h2 class="frame-5">
                <span>Learn</span>
                <span>+</span>
                <span>Trade</span>
                <span>=</span>
                <span>Money</span>
                
                
            </h2>
            
            
                
                
            <a id="sp-circle-link" class="button-c-2" href="#">Lets start learning</a>
            
            
        </div>
        <br>
        <br>
        <br>
        <section id="gc-sec">
            <div class="guide-content" >
                <div class="gc-img">
                    <img src="public/img/1.webp" style="border-radius: 50%;" width="500px" height="500px">
                </div>
                <div class="gc-content">
                    <h3 style="font-size: 3.4rem;">Embrace Curosity,Craft your Future</h3>
                    <div class="gc-c-span">
                    <span><strong>Below is the link of a guide made by finance craft, Learn the basics and terminologies of the stock market,For any other query please navigate the FAQs section.</strong></span>
                    <br>
                    <button class="button-c-1" ><a href="guideweb.html" style="color: #ddd;">Some Basics</a></button>
                    <hr>
                    <h3 style="font-size: 3.4rem;">Practice Makes The Man Perfect</h3>
                    <span><strong>After Gaining all the knowledge just navigate through our Analysis and prediction page </strong></span>
                    <button class="button-c-1" ><a href="#" style="color: #ddd;">ANALYSIS Page</a></button>
                    <button class="button-c-1" ><a href="#" style="color: #ddd;">Prediction page</a></button>
                    </div>

                </div>
                
            </div>
        </section>
        <br>
        <br>
        <br>
        <div class="faq-sec">
            <h3 style="font-size: 3.4rem;">Frequently Asked Questions(FAQ'S)</h3>
            <div class="faq-sec-content">
                <div class="dropdown">
                    
                        <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle Navigation">
                            <div class="ques">
                                <span>
                                    How Can I Invest in Stocks ? 

                                </span>
                            </div>
                        </a>
                    
                  
                    <ul class="dropdown-menu" aria-labelledby="Item 1 of 1">
                        • You can invest in stocks through brokerage accounts. Research, choose a reliable broker, open an account, deposit funds, and start buying stocks.
                      
                    </ul>
                </div>
                <div class="dropdown">
                    
                    <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ques">
                            <span>
                                How Can I Invest in Stocks ? 

                            </span>
                        </div>
                    </a>
                
              
                    <ul class="dropdown-menu" aria-labelledby="Item 1 of 1">
                        You can invest in stocks through brokerage accounts. Research, choose a reliable broker, open an account, deposit funds, and start buying stocks.
                    
                    </ul>
                </div>
                <div class="dropdown">
                    
                    <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ques">
                            <span>
                                How Can I Invest in Stocks ? 

                            </span>
                        </div>
                    </a>
                
              
                    <ul class="dropdown-menu" aria-labelledby="Item 1 of 1">
                        You can invest in stocks through brokerage accounts. Research, choose a reliable broker, open an account, deposit funds, and start buying stocks.
                    
                    </ul>
                </div>
                <div class="dropdown">
                    
                    <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ques">
                            <span>
                                How Can I Invest in Stocks ? 

                            </span>
                        </div>
                    </a>
                
              
                    <ul class="dropdown-menu" aria-labelledby="Item 1 of 1">
                        You can invest in stocks through brokerage accounts. Research, choose a reliable broker, open an account, deposit funds, and start buying stocks.
                    
                    </ul>
                </div>
                <div class="dropdown">
                    
                    <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="ques">
                            <span>
                                How Can I Invest in Stocks ? 

                            </span>
                        </div>
                    </a>
                
              
                    <ul class="dropdown-menu" aria-labelledby="Item 1 of 1">
                        You can invest in stocks through brokerage accounts. Research, choose a reliable broker, open an account, deposit funds, and start buying stocks.
                    
                    </ul>
                </div>

            </div>
            

        </div>
        
    </div>
        
        
    

    
        
    
    
</body>
</html>
