<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/x-icon" href="public/images/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="public/images/candlestick.png">
    <link rel="stylesheet" href="user.html">
    <title>FinanceCraft</title>
</head>
<body>
    <button class="button-c-2" style="width: 200px; height: 60px;margin-top: 2%;"><a href="index.html">BACK TO HOME</a></button>
    <div style="align-items: center; text-align: center;">
        
        <h1>Stock Market Guide By<img src="public/img/candlestick-chart.png" width="50px" height="50px"> FinanceCraft</h1>
    </div>
    <div style="width: 1500px; display:flex;flex-direction: column;align-items: center;margin-left:10%;margin-right:10%;border: black solid 1px;padding-left:3%;padding-right:3%;margin-bottom: 100px;border-radius: 20px;">
        <div>
            <h2>WHAT is stock market?</h2>
        </div>
        <div>
            <p>
                •
                    A stock market is the aggregation of buyers and sellers of stocks, which represent ownership
                    claims on businesses; these may include securities listed on a public stock exchange, as well
                    as stock that is only traded privately, such as shares of private companies which are sold to
                    investors through equity crowdfunding platforms. Investment is usually made with an
                    investment strategy in mind. There are two major stock exchanges in India namely National
                    Stock Exchange (NSE) and Bombay Stock Exchange (BSE).
            </p>
        </div>
        <div>
            <h2>SIZE OF THE INDIAN STOCK MARKET</h2>
            <img src="public/img/graph.png" width="1000px" height="500px">
            <h2>Currently the rank of Indian stock market is as follows</h2>
        </div>
        <div>
            
            <img src="public/img/table.png" width="1000px" height="1000px">
        </div>
        <div>
            <h2>FUNCTION AND PURPOSE</h2>
            <span>The stock market is one of the most important ways for companies to raise money, along with
                debt markets which are generally more imposing but do not trade publicly.[20] This allows
                businesses to be publicly traded, and raise additional financial capital for expansion by selling
                shares of ownership of the company in a public market. The liquidity that an exchange affords
                the investors enables their holders to quickly and easily sell securities.
            </span>
        </div>
        <div>
            <h4>(A) What is a share?</h4>
            <p>Shares are units of ownership in a company. It is a matter of how you're talking about a
                company and how much ownership you have in it. For example, say XYZ company issued
                stock and you purchased 10 shares of it. If each share represents 1% of ownership, you own
                10% of the company. The company issued stock, and you bought shares of it.
            </p>

            <h4>(B) WHO ARE THE PARTICIPANTS IN THE MARKET?</h4>

            <p>
                SEBI, Companies which are listed in the stock market through their IPOs, retail investors, and
                market intermediators.
            </p>

            <h4>(C) WHO CONTROLS THE STOCK MARKET?</h4>

            <p>
                Several brokers, speculators, different types of firms, or sometimes even company persons
                may work together as a syndicate to move a stock price for their personal agenda or profits.
                This syndicate, also referred to as the stock market operators, work together to rapidly move
                stock prices, creating a frenzy among the investors. This is mostly done to leverage the sharp
                price difference created in the short run, thus generating higher profits for themselves. The
                target is generally small and mid-cap stocks since it is easier to influence them.
            </p>

            <h4>(D) How as a retail investor can you start trading shares?</h4>
            <p>
                The practice starts by choosing your goal whether it is long term investing or short term
                investing.
                Depending on the choice you’ve made, there are two major analysis that should be done to
                have clarity on the choice of stocks for trading.
            </p>
            <img src="public/img/img3.png" width="1000px" height="400px">
        </div>
        <div>
            <h2>FUNDAMENTAL ANALYSIS</h2>
            <ul>
                <li>Basics: Understand key terms like EPS, P/E ratio, revenue, profit margin, and debt-to-equity
                    ratio.
                </li>
                <li>Stock Selection: Choose companies you know or understand.</li>
                <li>Financial Statements: Obtain income, balance sheet, and cash flow statements.</li>
                <li>Income Statement: Assess revenue growth, profit margins, and EPS trends.</li>
                <li>Balance Sheet: Examine assets, liabilities, and shareholders' equity.</li>
                <li>Cash Flow Analysis: Study operating cash flow and financing/investing activities.</li>
                <li>Management and Strategy: Research leadership and long-term plans.</li>
                <li>Industry Analysis: Consider industry performance and competitive positioning.</li>
                <li>Competitive Analysis: Compare financial metrics with competitors.</li>
                <li>Valuation Metrics: Calculate P/E, P/S, and P/B ratios, and compare to peers.</li>
                <li>Economic Factors: Account for economic and market conditions.</li>
                <li>Investment Decision: Make informed investment choices.</li>
                <li>Continuous Monitoring: Stay updated and adjust your strategy as needed.</li>
            </ul>
        </div>
        <div>
            <h2>TECHNICAL ANALYSIS</h2>
            <p>In this method of analysis, various indicators are used to predict the price action of any
                particular stock using candlestick char patterns.
            </p>
            <ol>
                <li>
                    You need to have basic knowledge of candlestick patterns. That can be accessed through
                    the link <a href="https://www.investopedia.com/trading/candlestick-charting-what-is-it/">CHARTPATTERNS</a>.
                </li>
                <li>
                    Then you find various indicators that are suitable for yourself. Find some of the most
                    used technical indicators through the link <a href="https://blog.elearnmarkets.com/best-25-technical-indicators/">TECHNICALINDICATORS</a>.
                </li>
                <li>After learning chart patterns and technical indicators, you need to combine both to
                    identify trends, whether bearish or bullish, and invest into stocks accordingly.
                </li>
            </ol>
        </div>
        <div>
            <h2>CHOOSING TRADING STYLE</h2>

            <ul>
                <li>Intraday Trading:Intraday trading involves buying and selling assets within the same day to profit from short-term
                    price fluctuations. It's fast-paced and high-risk.
                </li>
                <li>Futures and Options Trading:These are derivative markets where traders speculate on future asset prices. They offer leverage and
                    are suitable for experienced traders.
                </li>
                <li>Long-Term Investing:Long-term investing involves buying and holding assets for years to benefit from potential growth
                    and is less concerned with short-term market changes. It's a patient and less risky approach.
                </li>
        
            </ul>
            <a href="https://www.investopedia.com/articles/trading/09/risk-management.asp"><h2>Risk Management</h2></a>
        </div>
    </div>

</body>
</html>
